.table-content-middle,.table-content-middle>tbody>tr>td,.table-content-middle>tbody>tr>th,.table-content-middle>tfoot>tr>td,.table-content-middle>tfoot>tr>th,.table-content-middle>thead>tr>td,.table-content-middle>thead>tr>th
	{
	vertical-align: middle;
}

.table-content-middle>tbody>tr>td:nth-last-child(2),.table-content-middle>thead>tr>th:nth-last-child(2)
	{
	border-right: none
}
.table-content-middle>tbody>tr>td:first-child, .table-content-middle>thead>tr>th:first-child
	{
	text-align: center;
}

.table-content-middle>tbody>tr>td:last-child,.table-content-middle>thead>tr>th:last-child
	{
	border-left: none;
}

.table-content-middle>tbody>tr>td:last-child>span {
	float: right !important;
}
.dd3-handle:before{
	    content: ''!important;
}
.dd3-handle{
	width: 80%!important;
	border: none!important;
	background: none!important;
	margin-left: 30px!important;
}

.dd3-handle:hover { background: none; }
.dd3-content>span {
	float: right !important;
	margin-top: -3px;
	margin-right: -7px;
}
.dd3-content>span>a {
	height: 25.5px;
	width: 27px;
	margin-top: -1px;
}
.dd3-content>span>a>i {
	top: -3px
}
.dd3-item > button {
    margin-left: 0px!important;
}
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.zf-green {
	color: #68b604;
}

.btn-success {
	background-color: #57a900;
	background-image: -moz-linear-gradient(top, #70d900, #57a900);
	background-image: -ms-linear-gradient(top, #70d900, #57a900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900),
		to(#57a900));
	background-image: -webkit-linear-gradient(top, #70d900, #57a900);
	background-image: -o-linear-gradient(top, #70d900, #57a900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900',
		endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]
	{
	background-color: #57a900;
}

.btn-success:active,.btn-success.active {
	background-color: #57a900;
}

div.container a.brand {
	background: url("../img/zf2-logo.png") no-repeat scroll 0 10px
		transparent;
	margin-left: 0;
	padding: 8px 20px 12px 40px;
}